<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imooc.weixin6_0"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    
    <!--网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 读取手机通话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- sd卡存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--摄像头-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--录音-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--通知震动-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.ll.a.ydmusic.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/item_imageicon"
        android:label="@string/app_name" >
        <!-- <meta-data
            android:name="Bmob_APP_KEY"
            android:value="fe34202afa27d99a5476437a0aebe037" /> -->

        <!--
       windowSoftInputMode="adjustPan"===adjustPan:主界面不会缩放,会向上移来放置软键盘( 
       adjustResize-调整模式：该模式下窗口总是调整屏幕的大小用以保证软键盘的显示空间；这个选项不能和adjustPan同时使用，
       如果这两个属性都没有被设置，系统会根据窗口中的布局自动选择其中一个。
        -->
        <activity
            android:name="com.ll.ydmusic.a.login_regist.LoginRegistActivity"
            android:icon="@drawable/item_imageicon"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/my_theme_app"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize" >
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ll.ydmusic.MainActivity"
            android:theme="@style/my_theme_activity" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name="com.ll.ydmusic.musicmain.LaunchActivity" >
        </activity>
        <activity android:name="com.ll.ydmusic.musicmain.MusicMainActivity" >
        </activity>
        <activity android:name="com.ll.ydmusic.musicmain.LaunchViewPagerActivity" >
        </activity>
        
        <!-- <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver" >
        	<intent-filter>
            	<action android:name="cn.bmob.action.RECONNECT" />
            	<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            	<action android:name="android.intent.action.BOOT_COMPLETED" />
            	<action android:name="android.intent.action.USER_PRESENT" />
        	</intent-filter>
  		</receiver> -->
  		
  		<service
   			 android:name="cn.bmob.newim.core.service.BmobIMService"
    		 android:process=":bmobcore" />
  		<service
    		 android:name="cn.bmob.newim.core.service.NotifyService"
    		 android:process=":bmobcore" />
  		<service android:name="cn.bmob.newim.core.service.ReConnectService" />
  		<service android:name="cn.bmob.newim.core.service.HeartBeatService" />
    </application>

</manifest>